<sly data-sly-use.commonsTemplates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${commonsTemplates.placeholder @ isEmpty=true}"></sly>
<sly data-sly-use.model="com.mysite.core.models.UnsplashModel">
    <div class="unsplash-img">
        <picture>
            <sly data-sly-test.object = "${model.item}">
                <sly data-sly-list.keyname="${model.item.urls}">
                    <source media="(min-width:${keyname}px)" srcset="${model.item.urls[keyname]}">
                </sly>
                <img src="${object.uri}" alt="${object.altText}">
                <div>
                    <span>Photo by <a href="${object.profileUrl}">${object.author}</a> on <a href="https://unsplash.com/?utm_source=${object.appName}&utm_medium=referral">Unsplash</a></span>
                </div>
            </sly>
        </picture>
    </div>
</sly>